---
---

@import "{{ site.theme }}";

.blue {
  color: #fff !important;
  background: #000 !important;
}

h2 {
  color: #ff5733 !important;
}

#footer, .site-header {
  background-color: #6b9da0 !important;
}
